import React from 'react'
import {
  Button,
  Table,
  Space,
} from 'antd'
import FormRender, { useForm } from 'form-render';

export default () => {
  const form = useForm();

  const columns = [<% tableSchema.forEach(function (data) { %>
    {
      title: '<%= data.title %>',
      dataIndex: '<%= data.dataIndex %>'
    },<% }) %>]

  const schema = <%- JSON.stringify(formSchema) %>

  function handleSubmit(data: any) {

  }

  return (
    <Space
      direction="vertical"
      style={{ width: '100%' }}
      size="large"
    >
      <header style={{ textAlign: "right" }}>
        <FormRender
          form={form}
          schema={schema}
          onFinish={handleSubmit}
        />
        <Button
          type="primary"
          onClick={form.submit}
        >
          搜索
        </Button>
      </header>
      <Table columns={columns} />
    </Space>
  )
}
